html {box-sizing: border-box;
    box-sizing: inherit;
}
body{
    background-image: url("../images/prism.png");
}
h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
header {
    position: relative;
    display: block;
    max-width: 100%;
    height:100%;
    margin: 0 auto;
    background: #ffffff ;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    padding:20px 10px 0px 10px;
}
.bar1{
    position: relative;
    left:200px;
    max-width: 960px;
    height:100%;
}
#myname{
    position: relative;
    float:left;
    width:200px;
    margin: 0px;
    background: #4aaaa5;
    color:#ffffff;
    padding: 20px 0px 20px 0px;
    font-size: 28px;
    text-align: center;
    overflow: hidden;
}

#links{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    font-size: 20px;
    overflow: hidden;
    text-align: left;
    float: right;
    position: relative;
    
    
}
.right{
    width:200px;
    height:40px;
}
li {
    border-right: 1px solid #cccccc;
    padding: 10px;
    float: left;

}
a:link {
    text-decoration: none;
    color: #777777;
}
a:visited {
    text-decoration: none;
    color: #777777;
}

#contentarea{
    max-width: 960px;
    max-height: 960px;
    padding: 20px;
    position: relative;
    top: 50px;
    bottom:30px;
    left: 200px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
#Aboutmetitle{
    margin: 10px 0px 0px 0px;
}
#aboutme{
    width: 916px ;
    border-bottom: 2px solid #cccccc;
    padding: 0px 0px 10px 0px;
    margin: 0;
    color: #4aaaa5;
}
    
#Contacttitle {
    width: 916px ;
    border-bottom: 2px solid #cccccc;
    padding: 0px 0px 10px 0px;
    margin: 0;
    color: #4aaaa5;
}
#bio{
    padding: 20px;
    font-size: 20px;
    text-indent: 50px;
    box-sizing: content-box;
    line-height: 1.2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}
.headshot{
    float:left;
    width: 100px;
    height: 100px;
    padding:15px;

}

input {
    width:95%;
}

#message{
    width: 916px;
    height: 200px;

}
#submitbutton{
    width: 10%;
    height: 40px;
    background-color: #4aaaa5;
    color:#ffffff;
    border: none;
    cursor: pointer;
    
}
#Foot1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 8px solid #4aaaa5;
    background-color: gray;
}
#copyright {
    color: #ffffff;
    text-align: center;
}